Repository cnumr/ecoCode, pull requests merged in 2022-10, with the labels that each got.

#127 D1-PHP (S64 fourni NOK)
  src/php-plugin/src/main/java/fr/cnumr/php/MyPhpRules.java
  src/php-plugin/src/main/java/fr/cnumr/php/checks/AvoidTryCatchFinallyCheck_NOK_failsAllTryStatements.java
  src/php-plugin/src/main/java/fr/cnumr/php/checks/AvoidUsingFinallyInTryCatchCheck.java
  src/php-plugin/src/main/resources/fr/cnumr/l10n/php/rules/custom/D1.html
  src/php-plugin/src/main/resources/fr/cnumr/l10n/php/rules/custom/D1.json
  src/php-plugin/src/test/java/fr/cnumr/php/MyPhpRulesTest.java
  src/php-plugin/src/test/java/fr/cnumr/php/checks/AvoidTryCatchFinallyCheckNOKfailsAllTryStatementsTest.java
  src/php-plugin/src/test/java/fr/cnumr/php/checks/AvoidTryCatchFinallyCheckTest.java
  src/php-plugin/src/test/java/fr/cnumr/php/checks/AvoidUsingFinallyInTryCatchCheckTest.java
  src/php-plugin/src/test/resources/checks/AvoidUsingFinallyInTryCatchCheck.php
  src/php-plugin/src/test/resources/checks/avoidTryCatchFinallyCheck_NOK_FailsAllTryStatements.php
Labels: check:php

#158 [Rule SDMLQ-1]: AvoidStatementForDMLQueries
  src/java-plugin/src/main/java/fr/cnumr/java/RulesList.java
  src/java-plugin/src/main/java/fr/cnumr/java/checks/AvoidStatementForDMLQueries.java
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/SDMLQ1.html
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/SDMLQ1.json
  src/java-plugin/src/test/files/AvoidStatementForDMLQueries.java
  src/java-plugin/src/test/java/fr/cnumr/java/MyJavaFileCheckRegistrarTest.java
  src/java-plugin/src/test/java/fr/cnumr/java/checks/AvoidStatementForDMLQueriesTest.java
Labels: plugin:java

#156 [Rule-S77] Java Rule: Regex and Patterns usage
  src/java-plugin/src/main/java/fr/cnumr/java/RulesList.java
  src/java-plugin/src/main/java/fr/cnumr/java/checks/AvoidRegexPatternNotStatic.java
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/S77.html
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/S77.json
  src/java-plugin/src/test/files/AvoidRegexPatternNotStatic.java
  src/java-plugin/src/test/files/ValidRegexPattern.java
  src/java-plugin/src/test/files/ValidRegexPattern2.java
  src/java-plugin/src/test/files/ValidRegexPattern3.java
  src/java-plugin/src/test/java/fr/cnumr/java/MyJavaFileCheckRegistrarTest.java
  src/java-plugin/src/test/java/fr/cnumr/java/checks/AvoidRegexPatternNotStaticTest.java
Labels: plugin:java

#157 [Rule-GSCIL1] Java Rule: Avoid Getting the size of the Collection in the Loop
  .idea/workspace.xml
  src/java-plugin/src/main/java/fr/cnumr/java/RulesList.java
  src/java-plugin/src/main/java/fr/cnumr/java/checks/AvoidGettingSizeCollectionInLoop.java
  src/java-plugin/src/main/java/fr/cnumr/java/checks/AvoidSpringRepositoryCallInLoopCheck.java
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/GSCIL.html
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/GSCIL.json
  src/java-plugin/src/test/files/AvoidGettingSizeCollectionInLoopBad.java
  src/java-plugin/src/test/files/AvoidGettingSizeCollectionInLoopGood.java
  src/java-plugin/src/test/java/fr/cnumr/java/MyJavaFileCheckRegistrarTest.java
  src/java-plugin/src/test/java/fr/cnumr/java/checks/AvoidGettingSizeCollectionInLoopTest.java
Labels: plugin:java

#155 [Rule-S76] Java Rule: Avoid static collection usage
  src/java-plugin/src/main/java/fr/cnumr/java/RulesList.java
  src/java-plugin/src/main/java/fr/cnumr/java/checks/AvoidUsageOfStaticCollections.java
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/S76.html
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/S76.json
  src/java-plugin/src/test/files/AvoidUsageOfStaticCollections.java
  src/java-plugin/src/test/files/GoodUsageOfStaticCollections.java
  src/java-plugin/src/test/java/fr/cnumr/java/MyJavaFileCheckRegistrarTest.java
  src/java-plugin/src/test/java/fr/cnumr/java/checks/AvoidUsageOfStaticCollectionsTests.java
Labels: plugin:java

#154 [Rule-S75] Java Rule: Avoid Strings concatenation
  src/java-plugin/src/main/java/fr/cnumr/java/RulesList.java
  src/java-plugin/src/main/java/fr/cnumr/java/checks/AvoidConcatenateStringsInLoop.java
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/S75.html
  src/java-plugin/src/main/resources/fr/cnumr/l10n/java/rules/java/S75.json
  src/java-plugin/src/test/files/AvoidConcatenateStringsInLoop.java
  src/java-plugin/src/test/files/GoodWayConcatenateStringsLoop.java
  src/java-plugin/src/test/java/fr/cnumr/java/MyJavaFileCheckRegistrarTest.java
  src/java-plugin/src/test/java/fr/cnumr/java/checks/AvoidConcatenateStringsInLoopTest.java
Labels: plugin:java

#96 ESOB014 - [JAVA] - High Frame Rate
  src/android-plugin/src/main/java/io/ecocode/java/JavaCheckList.java
  src/android-plugin/src/main/java/io/ecocode/java/checks/sobriety/HighFrameRateRule.java
  src/android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB014_java.html
  src/android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB014_java.json
  src/android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ecocode_java_profile.json
  src/android-plugin/src/test/files/sobriety/HighFrameRateCheck.java
  src/android-plugin/src/test/java/io/ecocode/java/JavaRulesDefinitionTest.java
  src/android-plugin/src/test/java/io/ecocode/java/checks/sobriety/HighFrameRateCheckTest.java
Labels: plugin:android
